.anim-hidden {
    opacity: 0 !important;
}

.anim-semi-hidden {
    opacity: 0.4 !important;
}

.anim-short-ease {
    transition: all 0.3s ease !important;
}

.anim-short-ease-out {
    transition: all 0.3s ease-out !important;
}

.anim-short-ease-out-quart {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.anim-short-ease-in-quart {
    transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) !important;
}

.anim-scaled-down {
    transform: scale(0.95) !important;
    opacity: 0.5 !important;
}

.anim-slid-left {
    transform: translate3d(-20px, 0, 0) !important;
}
.anim-slid-right {
    transform: translate3d(20px, 0, 0) !important;
}
.anim-slid-down {
    transform: translate3d(0, 40px, 0) !important;
}
.anim-slid-up {
    transform: translate3d(0, -40px, 0) !important;
}

.anim-zoomed-out-slid-left {
    transform: translate3d(-120px, 0, 0) scale(0.7) !important;
}
.anim-zoomed-out-slid-right {
    transform: translate3d(120px, 0, 0) scale(0.7) !important;
}
.anim-zoomed-out-slid-down {
    transform: translate3d(0, 120px, 0) scale(0.7) !important;
}
.anim-zoomed-out-slid-up {
    transform: translate3d(0, -120px, 0) scale(0.7) !important;
}

.anim-zoomed-in-slid-left {
    transform: translate3d(-120px, 0, 0) scale(1.25) !important;
}
.anim-zoomed-in-slid-right {
    transform: translate3d(120px, 0, 0) scale(1.25) !important;
}
.anim-zoomed-in-slid-down {
    transform: translate3d(0, 120px, 0) scale(1.25) !important;
}
.anim-zoomed-in-slid-up {
    transform: translate3d(0, -120px, 0) scale(1.25) !important;
}

